flow-reconocimiento-facial.json
[
    {
        "id": "e7673ff85a4b683b",
        "type": "tab",
        "label": "Apertura de puertas por reconocimiento facial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b829f1e6d990381d",
        "type": "exec",
        "z": "e7673ff85a4b683b",
        "command": "python3 /home/daniel/Documentos/GitHub/apertura-puertas-reconocimiento-facial/apertura-python/face-check-args.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 800,
        "y": 160,
        "wires": [
            [
                "3fcd789d3f8b3b71"
            ],
            [
                "3fcd789d3f8b3b71"
            ],
            [
                "3fcd789d3f8b3b71"
            ]
        ]
    },
    {
        "id": "3fcd789d3f8b3b71",
        "type": "debug",
        "z": "e7673ff85a4b683b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "0b44d7b6e2be58eb",
        "type": "mqtt in",
        "z": "e7673ff85a4b683b",
        "name": "",
        "topic": "codigoIoT/mqtt/python",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc811d2d0501731c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "bc35f7d4fdf9d7af",
                "7a6cce71d974a879",
                "afae720f7dfc37e4",
                "58b91b599e29cce1"
            ]
        ]
    },
    {
        "id": "bc35f7d4fdf9d7af",
        "type": "debug",
        "z": "e7673ff85a4b683b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "9a15d3ce1de5710c",
        "type": "ui_button",
        "z": "e7673ff85a4b683b",
        "name": "",
        "group": "5eb501581b4bd396",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "51ee67ccd3e70a63"
            ]
        ]
    },
    {
        "id": "ed4579a404af72d7",
        "type": "http request",
        "z": "e7673ff85a4b683b",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://github.com/DanielRochez/apertura-puertas-reconocimiento-facial/blob/main/deepface/my_bd/persona1/Scarlett_1.jpg?raw=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 620,
        "wires": [
            [
                "6ec24705a467db5a",
                "cffc048e8de21573"
            ]
        ]
    },
    {
        "id": "6b46fc3185d7050e",
        "type": "ui_webcam",
        "z": "e7673ff85a4b683b",
        "name": "",
        "group": "243da6c4391b7a51",
        "order": 1,
        "width": 0,
        "height": 0,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "jpeg",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "6ec24705a467db5a"
            ]
        ]
    },
    {
        "id": "6ec24705a467db5a",
        "type": "function",
        "z": "e7673ff85a4b683b",
        "name": "filename",
        "func": "msg.filename = \"/home/daniel/Documentos/GitHub/apertura-puertas-reconocimiento-facial/imagenes/\" + global.get(\"timeNow\") + \".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 700,
        "wires": [
            [
                "5f9133d7b9d0c2af"
            ]
        ]
    },
    {
        "id": "3dfdbe06b4f0c11f",
        "type": "function",
        "z": "e7673ff85a4b683b",
        "name": "timenow",
        "func": "global.set(\"timeNow\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 780,
        "wires": [
            [
                "53ec5f3b21426f9e"
            ]
        ]
    },
    {
        "id": "5f9133d7b9d0c2af",
        "type": "file",
        "z": "e7673ff85a4b683b",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 620,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "97305614af7ddbcf",
        "type": "inject",
        "z": "e7673ff85a4b683b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "3dfdbe06b4f0c11f"
            ]
        ]
    },
    {
        "id": "cffc048e8de21573",
        "type": "debug",
        "z": "e7673ff85a4b683b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "53ec5f3b21426f9e",
        "type": "debug",
        "z": "e7673ff85a4b683b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 800,
        "wires": []
    },
    {
        "id": "91d3d8a522a83baf",
        "type": "ui_text_input",
        "z": "e7673ff85a4b683b",
        "name": "",
        "label": "Path a la imagen a analizar",
        "tooltip": "",
        "group": "5eb501581b4bd396",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "95eb1770a197a63c"
            ]
        ]
    },
    {
        "id": "91c41813afaee52d",
        "type": "ui_text_input",
        "z": "e7673ff85a4b683b",
        "name": "",
        "label": "Path a base de datos de rostros",
        "tooltip": "",
        "group": "5eb501581b4bd396",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "e6fdae0dfde9558b"
            ]
        ]
    },
    {
        "id": "95eb1770a197a63c",
        "type": "function",
        "z": "e7673ff85a4b683b",
        "name": "img_src",
        "func": "global.set(\"img_src\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e6fdae0dfde9558b",
        "type": "function",
        "z": "e7673ff85a4b683b",
        "name": "my_db",
        "func": "global.set(\"my_db\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "51ee67ccd3e70a63",
        "type": "function",
        "z": "e7673ff85a4b683b",
        "name": "append",
        "func": "msg.payload = \" \" + global.get(\"img_src\") + \" \" + global.get(\"my_db\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 160,
        "wires": [
            [
                "b829f1e6d990381d"
            ]
        ]
    },
    {
        "id": "7a6cce71d974a879",
        "type": "ui_text",
        "z": "e7673ff85a4b683b",
        "group": "5eb501581b4bd396",
        "order": 4,
        "width": 14,
        "height": 3,
        "name": "",
        "label": "Respuesta de salida",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "afae720f7dfc37e4",
        "type": "function",
        "z": "e7673ff85a4b683b",
        "name": "path de mayor similitud",
        "func": "msg.payload = msg.payload[\"0\"].identity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "851dcb02626a6762",
                "f07dda11bdb838aa"
            ]
        ]
    },
    {
        "id": "58b91b599e29cce1",
        "type": "function",
        "z": "e7673ff85a4b683b",
        "name": "porcentaje de similitud",
        "func": "msg.payload = (1 - msg.payload[\"0\"][\"VGG-Face_cosine\"]) * 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "5d74875457758eda"
            ]
        ]
    },
    {
        "id": "851dcb02626a6762",
        "type": "ui_text",
        "z": "e7673ff85a4b683b",
        "group": "5eb501581b4bd396",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "path de mayor similitud",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "5d74875457758eda",
        "type": "ui_text",
        "z": "e7673ff85a4b683b",
        "group": "5eb501581b4bd396",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "porcentaje de similitud",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "f07dda11bdb838aa",
        "type": "string",
        "z": "e7673ff85a4b683b",
        "name": "",
        "methods": [
            {
                "name": "delRightMost",
                "params": [
                    {
                        "type": "str",
                        "value": "/"
                    }
                ]
            },
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": "/info.json"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 430,
        "y": 480,
        "wires": [
            [
                "7be5669c195d98df"
            ]
        ]
    },
    {
        "id": "77eab14d275bdc7b",
        "type": "inject",
        "z": "e7673ff85a4b683b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/home/daniel/Documentos/GitHub/apertura-puertas-reconocimiento-facial/deepface/my_bd/persona2/elvis_1.jpg",
        "payloadType": "str",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "f07dda11bdb838aa"
            ]
        ]
    },
    {
        "id": "7be5669c195d98df",
        "type": "file in",
        "z": "e7673ff85a4b683b",
        "name": "",
        "filename": "payload",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "9593533b476bd6a1"
            ]
        ]
    },
    {
        "id": "9593533b476bd6a1",
        "type": "json",
        "z": "e7673ff85a4b683b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "b053c5a3d345600d",
                "cab128e56b6eb57f",
                "68b65a941b232d99",
                "e4d9d8e32f15c4eb",
                "04a850e4c22493b8"
            ]
        ]
    },
    {
        "id": "68b65a941b232d99",
        "type": "ui_text",
        "z": "e7673ff85a4b683b",
        "group": "79977a04816a3d2c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "edad",
        "format": "{{msg.payload.edad}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "b053c5a3d345600d",
        "type": "ui_text",
        "z": "e7673ff85a4b683b",
        "group": "79977a04816a3d2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "nombre",
        "format": "{{msg.payload.nombre}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 380,
        "wires": []
    },
    {
        "id": "cab128e56b6eb57f",
        "type": "ui_text",
        "z": "e7673ff85a4b683b",
        "group": "79977a04816a3d2c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cumpleaños",
        "format": "{{msg.payload[\"cumpleaños\"]}}",
        "layout": "row-spread",
        "className": "",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "e4d9d8e32f15c4eb",
        "type": "ui_text",
        "z": "e7673ff85a4b683b",
        "group": "79977a04816a3d2c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "nivel de acceso",
        "format": "{{msg.payload.acceso}}",
        "layout": "row-spread",
        "className": "",
        "x": 1020,
        "y": 560,
        "wires": []
    },
    {
        "id": "04a850e4c22493b8",
        "type": "debug",
        "z": "e7673ff85a4b683b",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "fc811d2d0501731c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5eb501581b4bd396",
        "type": "ui_group",
        "name": "reconocimiento facial",
        "tab": "a39d6f9b4062f04e",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "243da6c4391b7a51",
        "type": "ui_group",
        "name": "webcam",
        "tab": "a39d6f9b4062f04e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79977a04816a3d2c",
        "type": "ui_group",
        "name": "datos",
        "tab": "a39d6f9b4062f04e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a39d6f9b4062f04e",
        "type": "ui_tab",
        "name": "Apertura de puertas reconocimiento facial",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]